In [2]:
import pandas as pd    
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt 
import seaborn as sns

In [7]:
cols  = ['Click', 'Impression', 'AdURL', 'AdId', 'AdvId', 'Depth', 'Pos', 'QId', 'KeyId', 'TitleId', 'DescId', 'UId']
data_main = pd.read_csv('track2/training.txt', sep='\t', header=None, nrows=5000000, names=cols)
main.head()
data_main.to_csv("track2/training_subsampled.csv")

In [5]:
cols_user  = ['UId', 'Gender', 'Age']
data_user      = pd.read_csv('track2/userid_profile.txt', sep='\t', header=None, names=cols_user)
data_user.head()

   UId  Gender  Age
0    1       1    5
1    2       2    3
2    3       1    5
3    4       1    3
4    5       2    1